@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rubik:wght@400;500&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  background-color: #0A1242;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 400 1.6rem Rubik;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

ul,li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}
